<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025016915176-64c3ave50dosmc9ig8963f0jubtgi6r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025016915176-64c3ave50dosmc9ig8963f0jubtgi6r2</string>
	<key>API_KEY</key>
	<string>AIzaSyAqVUhwmvDSIFCZEa1_kTyG7LNaYVxdUvE</string>
	<key>GCM_SENDER_ID</key>
	<string>1025016915176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futuredesigns.cityfoods</string>
	<key>PROJECT_ID</key>
	<string>cityfoods-70f48</string>
	<key>STORAGE_BUCKET</key>
	<string>cityfoods-70f48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025016915176:ios:903bbb46c3513a759ad55d</string>
	<key>DATABASE_URL</key>
	<string>https://cityfoods-70f48-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>